.rain{
    background-image: url(34656248_0_0_3072_1728_2072x0_60_0_0_6f82f371982dbb83e69579376006e49c.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}
body{
    margin: 0;
}